body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: Helvetica, sans-serif;
  color: seashell;
  font-size: 22px;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
}

.header {
  height: 69px;
}

.nav-links {
  text-decoration: underline;
  float: right;
  display: inline-flex;
  margin-top: 19px;
}

.mission {
  margin-right: 30px;
}

.featured {
  margin-right: 30px;
}

.logo {
  height: 50px;
  width: 200px;
  margin-left: 10px;
  justify-content: flex-start;
}

.main {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(./img/img-mission-background\ tea\ shop\ project.jpg);
  display: flex;
}

.main-content {
  width: 100%;
}
.main-h2 {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 304px;
  text-align: center;
}

img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

div p {
  margin-top: 0;
}

.section {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.pic {
  display: flex;
  width: 1000px;
  justify-content: center;
  justify-content: space-between;
}

.lower-pic {
  display: flex;
  justify-content: center;
}
.myrtle {
  margin-right: 50px;
}

.lower-section {
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(./img/img-locations-background\ tea\ shop\ project.jpg);
}

.locations {
  display: flex;
  justify-content: center;
}

.locations h2 {
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: center;
}

.downtown {
  background-color: rgba(0, 0, 0, 1);
  width: 300px;
  text-align: center;
  margin-top: 15px;
}

.east-bayside {
  background-color: rgba(0, 0, 0, 1);
  width: 300px;
  text-align: center;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

.oakdale {
  background-color: rgba(0, 0, 0, 1);
  width: 300px;
  text-align: center;
  margin-top: 15px;
}

.footer {
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

footer {
  text-align: left;
  margin-left: 20px;
}
